<!DOCTYPE html>
<html lang="ko" dir="ltr">

  <head>
    <%- include('../includes/head.ejs') %>
    <style type="text/css">
        .popover{
            max-width:600px;
            white-space: pre-wrap;
        }
    </style>
  </head>


  <body>

    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
    <main class="main" id="top">
        <%- include('../includes/menu.ejs') %>
      
        <%- include('../includes/top.ejs') %>
      

      <div class="content">
        <%- include('../includes/nav.ejs') %>
       
        <div class="row">
          <div class="col-xl-12">
                <div class="lead-details-container">
                  <nav class="navbar pb-4 px-0 sticky-top bg-soft nav-underline-scrollspy" id="navbar-deals-detail">
                    <ul class="nav nav-underline">
              
                      <li class="nav-item"><a class="nav-link pe-3" href="#step4">판매 가격 및 포인트 설정 </a></li>
                     
               

                      <!-- <li class="nav-item"><a class="nav-link pe-3" href="#step6">외부서비스 전환 설정 </a></li> -->
                    </ul>
                  </nav>
                  <div class="scrollspy-example bg-body-tertiary rounded-2" data-bs-spy="scroll" data-bs-offset="0" data-bs-target="#navbar-deals-detail" data-bs-root-margin="0px 0px -40%" data-bs-smooth-scroll="true" tabindex="0">
                   
                    <div class="mb-8">
                        <!-- Start :   =======================데일리 매칭 수당===============================-->
                        <h4 class="mb-4" id="step4">판매 가격 및 포인트 설정</h4>
                        <%- include('./step4.ejs') %>
                    </div>
                   
                    <div class="mb-8">
                      <!-- Start :   =======================데일리 매칭 수당===============================-->
                      <h4 class="mb-4" id="step4">TEST CASE</h4>
                      <%- include('./sampleCode.ejs') %>
                  </div>
                  </div>
                </div>
          </div>
        </div>
        <!-- footer -->
        <%- include('../includes/footer.ejs') %>
      </div>
     
    </main>
    <!-- ===============================================-->
    <!--    End of Main Content-->
    <!-- ===============================================-->

    <!-- ===============================================-->
    <!--    JavaScripts-->
    <!-- ===============================================-->
    <%- include('../includes/scripts.ejs') %>
    <script src="https://code.jquery.com/jquery-3.6.3.js"></script>
    <%- include('../includes/modal.ejs') %>

    <script>
       

        
        
    </script>
 
  </body>

</html>